---
development:
  SLACK_API_TOKEN: xoxs-03456-nanana-nana-nana
  SLACK_BOT_NAME: claptrap
  SLACK_BOT_ICON: https://i.imgur.com/eSCr8G3.png
  SLACK_BASE_CHANNEL: ''
  SLACK_LOG_CHANNEL: ''

production:
  SLACK_API_TOKEN: xoxs-007-nanana-nana-nana
  SLACK_BOT_NAME: AIGIS
  SLACK_BOT_ICON: https://i.imgur.com/IDfAU28.jpg
  SLACK_BASE_CHANNEL: ''
  SLACK_LOG_CHANNEL: 'dev'
