---
development:
  SLACK_API_TOKEN: xoxs-01010101010-101010101010-abcdefghijklmnopqrstuvwx
  SLACK_BOT_NAME: claptrap
  SLACK_BOT_ICON: https://i.imgur.com/eSCr8G3.png
  SLACK_BASE_CHANNEL: ''
  SLACK_LOG_CHANNEL: ''

production:
  SLACK_API_TOKEN: xoxs-01010101010-101010101010-xwvutsrqponmlkjihgfedcba
  SLACK_BOT_NAME: AIGIS
  SLACK_BOT_ICON: https://i.imgur.com/IDfAU28.jpg
  SLACK_BASE_CHANNEL: ''
  SLACK_LOG_CHANNEL: 'dev'
