---
development:
  SLACK_API_TOKEN: xoxs-01010101010-101010101010-abcdefghijklmnopqrstuvwx
  SLACK_BOT_NAME: Maigis-Repair
  SLACK_BOT_ICON: https://i.imgur.com/Yd2GDmn.jpg
  SLACK_BASE_CHANNEL: '#bot_headquarters'
  SLACK_LOG_CHANNEL: '#bot_headquarters'

staging:
  SLACK_API_TOKEN: xoxs-101010101010-01010101010-abcdefghijklmnopqrstuvwx
  SLACK_BOT_NAME: MAIGIS-RSPEC
  SLACK_BOT_ICON: https://i.imgur.com/IDfAU28.jpg
  SLACK_BASE_CHANNEL: '#super_staging'
  SLACK_LOG_CHANNEL: '#super_staging'

production:
  SLACK_API_TOKEN: xoxs-01010101010-101010101010-xwvutsrqponmlkjihgfedcba
  SLACK_BOT_NAME: Maigis
  SLACK_BOT_ICON: https://i.imgur.com/IDfAU28.jpg
  SLACK_BASE_CHANNEL: '#super_channel'
  SLACK_LOG_CHANNEL: '#super_channel'
